In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
dataset = pd.read_excel('TRsFullDataUM.xlsx')

In [3]:
dataset.head()

,TR Code,TR Creation Date/Time,TR Source Location Code,TR Dest Location Code,TR Gross Weight (KG),Nb of Ship Units,Origin Country,TR Source Location Postal Code,Origin City,OriginFull,...,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong,TR Pickup - Event Day,TR Gross Volume (M3),PUDate,Distance,ClusterDistance
0,T011.TRAII-10848608,2017-04-19 13:40:10.000,T011.FR - USINE DE SAINT ELOI E101Q,T011.157223,80.0,2,FRANCE,31200,TOULOUSE,"TOULOUSE, 31200, FRANCE",...,Cluster2,45.135334,1.514817,45.135334,1.514817,4,0.768,2017-04-20,166.355870,169.329803
1,T011.TRAII-10931759,2017-10-03 13:33:31.000,T011.FR1867,T011.274905,50.0,2,FRANCE,31770,COLOMIERS,"COLOMIERS, 31770, FRANCE",...,Cluster8,53.943832,-2.550558,53.943832,-2.550558,3,0.540,2017-10-04,1182.990277,1183.948553
2,T011.TRAII-10914931,2017-09-01 11:36:05.000,T011.FR2006,T011. CHAINE ATR,1.0,1,FRANCE,31700,BLAGNAC,"BLAGNAC, 31700, FRANCE",...,Cluster1,43.614571,1.379595,43.611671,1.324461,3,0.012,2017-09-20,6.358507,0.000000
3,T011.TRAII-10917146,2017-09-06 15:58:52.000,T011.FR - KN TOULOUSE POLE LOGISTIQUE,T011. MAG. ON03 B?T/ETAGE TG100,3.0,2,FRANCE,31700,CORNEBARRIEU,"CORNEBARRIEU, 31700, FRANCE",...,Cluster13,47.183168,-1.611456,47.170883,-1.613530,3,0.863,2017-09-06,453.713885,460.509321
4,T011.TRAII-10805899,2017-01-30 14:35:26.999,T011.FR - USINE DE SAINT ELOI E101Q,T011. MAG. ON03 BT/ETAGE TG100,206.0,2,FRANCE,31200,TOULOUSE,"TOULOUSE, 31200, FRANCE",...,Cluster13,47.183168,-1.611456,47.170883,-1.613530,3,2.833,2017-01-18,459.993048,460.509321

In [4]:
cols = ['TR Code','TR Creation Date/Time','TR Source Location Code','TR Dest Location Code',
       'TR Source Location Postal Code','TR Dest Location Postal Code','OriginFull','DestinationFull',
        'TR Pickup - Event Day', 'PUDate','Distance','ClusterDistance']
data_1 = dataset.drop(cols, axis = 1)

In [5]:
data_1.head()

,TR Gross Weight (KG),Nb of Ship Units,Origin Country,Origin City,OriginCluster,OriginClusterLat,OriginClusterLong,OriginLat,OriginLong,Dest Country,Dest City,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong,TR Gross Volume (M3)
0,80.0,2,FRANCE,TOULOUSE,Cluster1,43.614571,1.379595,43.639805,1.458302,FRANCE,BRIVE LA GAILLARDE,Cluster2,45.135334,1.514817,45.135334,1.514817,0.768
1,50.0,2,FRANCE,COLOMIERS,Cluster1,43.614571,1.379595,43.611671,1.324461,UNITED KINGDOM,BRISTOL,Cluster8,53.943832,-2.550558,53.943832,-2.550558,0.540
2,1.0,1,FRANCE,BLAGNAC,Cluster1,43.614571,1.379595,43.634579,1.396840,FRANCE,COLOMIERS,Cluster1,43.614571,1.379595,43.611671,1.324461,0.012
3,3.0,2,FRANCE,CORNEBARRIEU,Cluster1,43.614571,1.379595,43.649872,1.325700,FRANCE,BOUGUENAIS,Cluster13,47.183168,-1.611456,47.170883,-1.613530,0.863
4,206.0,2,FRANCE,TOULOUSE,Cluster1,43.614571,1.379595,43.639805,1.458302,FRANCE,BOUGUENAIS,Cluster13,47.183168,-1.611456,47.170883,-1.613530,2.833

In [6]:
cols_2 = ['TR Gross Weight (KG)','Nb of Ship Units','TR Gross Volume (M3)']
data_2 = data_1.drop(cols_2, axis = 1)
data_2.head()

,Origin Country,Origin City,OriginCluster,OriginClusterLat,OriginClusterLong,OriginLat,OriginLong,Dest Country,Dest City,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong
0,FRANCE,TOULOUSE,Cluster1,43.614571,1.379595,43.639805,1.458302,FRANCE,BRIVE LA GAILLARDE,Cluster2,45.135334,1.514817,45.135334,1.514817
1,FRANCE,COLOMIERS,Cluster1,43.614571,1.379595,43.611671,1.324461,UNITED KINGDOM,BRISTOL,Cluster8,53.943832,-2.550558,53.943832,-2.550558
2,FRANCE,BLAGNAC,Cluster1,43.614571,1.379595,43.634579,1.396840,FRANCE,COLOMIERS,Cluster1,43.614571,1.379595,43.611671,1.324461
3,FRANCE,CORNEBARRIEU,Cluster1,43.614571,1.379595,43.649872,1.325700,FRANCE,BOUGUENAIS,Cluster13,47.183168,-1.611456,47.170883,-1.613530
4,FRANCE,TOULOUSE,Cluster1,43.614571,1.379595,43.639805,1.458302,FRANCE,BOUGUENAIS,Cluster13,47.183168,-1.611456,47.170883,-1.613530

In [9]:
data_2.shape[0]

81520

In [15]:
java_data = data_1.groupby(data_2.columns.tolist(), as_index = False).sum()
java_data.head()

,Origin Country,Origin City,OriginCluster,OriginClusterLat,OriginClusterLong,OriginLat,OriginLong,Dest Country,Dest City,DestinationCluster,DestinationClusterLat,DestinationClusterLong,DestLat,DestLong,TR Gross Weight (KG),Nb of Ship Units,TR Gross Volume (M3)
0,FRANCE,41 RUE DES EAUX,Cluster792,48.110320,-1.178560,48.110320,-1.178560,SPAIN,GETAFE,Cluster466,40.291700,-3.708264,40.295044,-3.692745,4.20,1,0.288
1,FRANCE,ADE,Cluster587,43.185087,0.000530,43.138519,-0.028140,SPAIN,SEVILLA,Cluster464,37.387821,-5.960246,37.349186,-6.004725,55.00,11,1.247
2,FRANCE,ALBERT CEDEX,Cluster568,50.016360,2.649670,50.028725,2.650302,SPAIN,SEVILLA,Cluster464,37.387821,-5.960246,37.349186,-6.004725,3.02,2,0.019
3,FRANCE,ALBI,Cluster827,43.921822,2.146838,43.921822,2.146838,FRANCE,TOULOUSE,Cluster1,43.614571,1.379595,43.639805,1.458302,35710.00,40,152.579
4,FRANCE,AMBAZAC,Cluster650,45.971889,1.413802,45.971889,1.413802,GERMANY,AUGSBURG,Cluster22,48.294913,10.903583,48.300892,10.907681,70.00,6,0.180

In [16]:
java_data.to_csv('Aggregated data (for Q4-5).csv', index = False)

In [18]:
java_data.shape[0]

4810

In [23]:
test = java_data[['OriginLat','OriginLong','Origin City']]
test.groupby(test.columns.tolist()).count()

Empty DataFrame
Columns: []
Index: [(36.40087890625, -6.11368179321289, CHICLANA DE LA FRONTERA), (36.4632606506348, -6.25361490249634, CADIZ), (36.5141296386719, -6.22904491424561, RINCONADA, LA), (36.531551361084, -6.10043621063232, PUERTO REAL), (36.5974082946777, -4.63649988174438, MIJAS COSTA), (36.6231994628906, -6.22228717803955, EL PUERTO DE SANTA MARIA), (36.6231994628906, -6.22228717803955, EL PUERTO DE SANTAMARÍA), (36.6231994628906, -6.22228717803955, PUERTO DE SANTA MARIA CADIZ), (36.6719207763672, -6.35928106307983, ROTA), (36.7284507751465, -4.40170478820801, MALAGA), (36.7313690185547, -4.52590179443359, MALAGA), (36.7320556640625, -6.07177209854126, JEREZ DE LA FRONTERA), (36.875904083252, -5.80496311187744, ESPERA), (37.1205444335938, -5.44296216964722, MORON DE LA FRONTERA), (37.2444801330566, -5.94429016113281, DOS HERMANAS), (37.2680511474609, -6.065110206604, LA PUEBLA DEL RIO), (37.2830085754395, -5.92833995819092, DOS HERMANAS), (37.2887992858887, -5.81093120574951, ALCALA DE GUADAIRA), (37.2887992858887, -5.81093120574951, ALCALA DE GUADAIRA - SEVILLA), (37.3127784729004, -6.15119981765747, BOLLULLOS DE LA MITACION), (37.339485168457, -5.9839448928833, SEVILLA), (37.3471603393555, -5.7246561050415, MAIRENA DEL ALCOR), (37.3491859436035, -6.00472497940063, SEVILLA), (37.3644104003906, -6.0855131149292, BORMUJOS), (37.3736686706543, -5.9423770904541, SEVILLA), (37.3856468200684, -6.075514793396, GINES), (37.3878898620605, -6.00197982788086, SEVILLA), (37.3948364257813, -5.86047410964966, SEVILLA), (37.3984184265137, -5.95560216903687, SEVILLA), (37.4003562927246, -6.15036582946777, VILLANUEVA DEL ARISCAL), (37.410026550293, -5.95962905883789, SEVILLA), (37.4177398681641, -5.91071701049805, SEVILLA), (37.4335899353027, -6.04456281661987, SANTIPONCE), (37.469596862793, -5.86475992202759, LA RINCONADA), (37.4822807312012, -5.95091009140015, SAN JOSE DE LA RINCONADA), (37.4835739135742, -5.91175508499146, LA RICONADA), (37.4835739135742, -5.91175508499146, LA RINCONADA), (37.4835739135742, -5.91175508499146, RINCONADA, LA), (37.5985679626465, -1.01032996177673, CARTAGENA), (37.7227554321289, -1.16957199573517, FUENTE ALAMO), (38.0868148803711, -3.6392650604248, LINARES), (38.896541595459, -1.66450500488281, CHINCHILLA DE MONTE ARAGON), (39.4710998535156, -0.51062798500061, QUART DE POBLET), (39.4746170043945, -0.341194987297058, VALENCIA), (39.5427589416504, -0.580165028572083, RIBA-ROJA DE TURIA), (39.8717384338379, -3.92530703544617, TOLEDO), (39.9643211364746, -4.63430976867676, CHINCHILLA DE MONTEARAGON), (39.997615814209, -3.57168793678284, ONTIGOLA), (40.0873718261719, -3.89047908782959, TOLEDO), (40.0873718261719, -3.89047908782959, YUNCOS), (40.1097831726074, -3.7580349445343, ESQUIVIAS), (40.1116485595703, -3.64386105537415, SESENA NUEVO), (40.1174011230469, -3.79627799987793, YELES), (40.1335906982422, -3.86318111419678, ILLESCAS), (40.2305183410645, -3.75492000579834, PARLA), (40.245906829834, -3.68646311759949, PINTO), (40.2684631347656, -3.77799010276794, FUENLABRADA), (40.2938919067383, -3.75022006034851, GETAFE), (40.2950439453125, -3.69274497032166, GETAFE), (40.2950439453125, -3.69274497032166, GETAFE/MADRID), (40.2950439453125, -3.69274497032166, GETAGE), (40.3003044128418, -3.4509539604187, ARGANDA DEL REY), (40.3265151977539, -3.76852989196777, LEGANES), (40.3422698974609, -3.69291090965271, MADRID), (40.3752136230469, -3.82712411880493, ALCORCON), (40.3763008117676, -4.20785522460938, CHAPINERIA), (40.3876953125, -3.55739092826843, COSLADA), (40.3876953125, -3.55739092826843, JEREZ DE LA FRONTERA), (40.3876953125, -3.55739092826843, LA CREUETA), (40.3876953125, -3.55739092826843, LA RINCONADA), (40.3876953125, -3.55739092826843, SEVILLA), (40.3935127258301, -3.68802499771118, MADRID), (40.3977890014648, -1.21951901912689, CAUDE), (40.408088684082, -3.36406993865967, TORRES DE LA ALAMEDA), (40.4161682128906, -3.93001794815063, BOADILLA DEL MONTE), (40.4346237182617, -3.59592199325562, MADRID), (40.4512481689453, -3.46591591835022, TORREJON DE ARDOZ), (40.4745559692383, -3.70141911506653, MADRID), (40.4767799377441, -3.38349890708923, ALCALA DE HENARES), (40.4794883728027, -3.57128000259399, MADRID), (40.5066757202148, -3.39422202110291, ALCALA DE HENARES), (40.6143112182617, -3.70374894142151, TRES CANTOS), (40.6615562438965, -3.74931001663208, COLMENAR VIEJO), (41.349853515625, 2.12645792961121, HOSPITALET DE LLOBREGAT), (41.4003410339355, 2.17823004722595, BARCELONA), (41.4034194946289, 2.19122004508972, BARCELONA), (41.4339141845703, 2.22887206077576, BADALONA), (41.5193901062012, 2.13492107391357, BARBERA DEL VALLES), (41.523796081543, 2.34769606590271, VILASSAR DE DALT), (41.5971565246582, 2.57495498657227, CANET DE MAR), (41.6664161682129, -0.85758501291275, ZARAGOZA), (41.892749786377, -1.68994796276093, TARAZONA), (41.9577674865723, 2.8245050907135, GIRONA), (42.2574310302734, 3.10648989677429, EMPURIABRAVA), (42.2816734313965, -7.82192182540894, SAN CIBRAO DAS VINAS), (42.2816734313965, -7.82192182540894, SAN CIBRAO DE LAS VINAS), (42.4967613220215, 2.71757507324219, CERET), (42.6890411376953, -2.94341707229614, MIRANDA DE EBRO), (42.7345695495605, -1.59516000747681, TORRES DE ELORZ), (42.7667007446289, -1.70000004768372, GALAR), ...]

[933 rows x 0 columns]